.octave0 {
    background-color: black;
}

.octave1 {
    background-color: #ffb3b3;
}

.octave2 {
    background-color: #ffdab3;
}

.octave3 {
    background-color: #ffffb3;
}

.octave4 {
    background-color: #b3ffb3;
}

.octave5 {
    background-color: #b3b3ff;
}

.octave6 {
    background-color: #dab3ff;
}

.octave7 {
    background-color: #ffb3ff;
}

.octave8 {
    background-color: white;
}

.transparent {
    background-color: transparent;
}