.workspace-container {
    width: 100%;
  }
  
.notes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.notes-column {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 38.25rem;
    width: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 10px;
    color: black;
}

.notes-wrapper {
    background-color: #ffffff;
    width: 70rem;
    height: 38.25rem;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    display: grid;
}

.grid-canvas {
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.notes-holder {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.01);
}

.grid-canvas, .notes-holder {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

.grid-holder {
    height: 100%;
}

.timeline-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.bar-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ledger-line-soft, .ledger-line-hard {
    width: 5.5rem;
    height: 100%;
    box-sizing: border-box;
}

.ledger-line-soft {
    border-right: 0.1rem solid grey;
}

.ledger-line-hard {
    border-right: 0.25rem solid black;
}

.note-seperator {
    width: 100%;
    height: 3.1875rem;
    border-bottom: 0.05rem solid gray;
    box-sizing: border-box;
}

.selected {
    border: 0.2rem solid black;
    box-sizing: border-box;
}

.workspace-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    height: 4rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 -0.2rem 1rem rgba(153, 124, 89, 0.908);
    z-index: 3;
}

.workspace-page-button {
    font-size: 1.5rem;
    border: 0.2rem solid black;
    font-family: $font-family;
    font-weight: bold;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);

    &:active {
        transform: translateY(0.25rem); 
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
      }
    &:hover {
        cursor: pointer;
    }
}

.active {
    border: 0.2rem solid black;
    background-color: white;
}

.inactive {
    background-color: rgba(128, 128, 128, 0.376);
    color:rgba(0, 0, 0, 0.405);
    border: 0.2rem solid rgba(0, 0, 0, 0.525);
}

.button-container {
    position: relative;
}

.workspace-button-menu {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    color: black;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0.07rem solid black;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0.5rem;
        border-style: solid;
    }

    &::before {
        top: 100%;
        border-color: black transparent transparent transparent;
    }
    
    &::after {
        top: calc(100% - 1px); 
        border-color: whitesmoke transparent transparent transparent;
    }

    &-sub {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
}

.confirm-menu {
    width: 12rem;

    & .flexcolumn {
        height: 4.5rem;
        justify-content: space-between;
    }

    & h2 {
        margin: 0
    }

    & button {
        min-width: 3rem;
    }
}

#generator {
    height: 7rem;
    width: 23rem;
    padding: 0.75rem 0.75rem;
    flex-direction: row;

    &-buttons {
        justify-content: space-evenly;
        width: 7rem;
    }

    &-inputs {
        justify-content: center;
    }
}

#steps {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.workspace-sub-button {
    font-size: 0.9rem;
    font-family: $font-family;
    font-weight: bold;
    cursor: pointer;
}

.activeclick:active {
    background-color: rgb(105, 204, 131);
}

.inactiveclick:active {
    background-color: rgb(247, 160, 150);;
}

#edit {
    width: 9rem;
    align-items: center;

    & label {
        font-weight: bold;
        margin-bottom: 0.1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    & .flexcolumn {
        justify-content: left;
    }

    & select {
        font-size: 1rem;
        font-family: $font-family;
    }

    & p {
        font-size: 0.9rem;
        color: red;
        cursor: pointer;
    }

    & p:hover {
        text-decoration: underline;
    }
}

#edittoprow {
    width: 10rem;
}

#listenbutton {
    min-width: 8rem;
}

.bar-buttons {
    position: relative;
    height: 100%;
    margin-left: -3rem;
}

.triangle-button {
    &-left {
        position: absolute;
        cursor: pointer;
        width: 0;
        height: 0;
        bottom: 25%;
        border-top: 3rem solid rgba(254, 254, 254, 0);
        border-bottom: 3rem solid rgba(255, 255, 255, 0);
    }

    &-right {
        position: absolute;
        cursor: pointer;
        width: 0;
        height: 0;
        top: 25%;
        border-top: 3rem solid rgba(254, 254, 254, 0);
        border-bottom: 3rem solid rgba(255, 255, 255, 0);
        border-left: 3rem solid green;
    }

    &-left::before {
        content: "-";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(75%, -50%);
        color: white;
        font-size: 3rem;
        font-family: $font-family;
    }

    &-right::before {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-200%, -50%);
        color: white;
        font-size: 3rem;
        font-family: $font-family;
    }
}

.bb-active {
    border-right: 3rem solid red;
}

.bb-inactive {
    border-right: 3rem solid rgba(87, 78, 78, 0.819);
}