html, body, .App, #root {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Cabin", sans-serif;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.home-blurb {
  max-width: 40rem;
}

.main-activity-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.top-bar-title {
  margin-left: 3rem;
}

.top-bar-items {
  margin-right: 3rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#homelink, #aboutlink {
  text-decoration: none;
}

#homelink:hover, #aboutlink:hover {
  text-decoration: underline;
}

#homelink:visited, #aboutlink:visited {
  color: white;
}

.recognizer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.01);
}

.options-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recognizer-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  margin-bottom: 1rem;
}

.recognizer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.recognizer-row input, .recognizer-row select {
  width: 5rem;
  box-sizing: border-box;
}

#qz {
  width: 7rem;
}

.recognizer-column-title {
  text-align: center;
  cursor: help;
  position: relative;
  display: inline-block;
}

.recognizer-column-title > select, .recognizer-column-title > input {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.tooltip {
  visibility: hidden;
}

.tooltip {
  visibility: hidden;
  width: 15rem;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.5rem 0.2rem;
  border-radius: 6px;
  top: -5px;
  right: 105%;
  font-style: italic;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
}

.tooltip::after {
  content: " ";
  position: absolute;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.tooltip:nth-child(1)::after {
  top: 10%;
}

.tooltip:nth-child(2)::after {
  top: 50%;
}

.recognizer-column-title:hover .tooltip {
  visibility: visible;
}

.current-note {
  margin-bottom: 1rem;
  align-items: center;
}

.current-note > h2:first-child {
  width: 15rem;
}

#note {
  width: 5rem;
}

.finish-recording-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 300px;
}

.recording-page-button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  color: white;
}

.workspace-container {
  width: 100%;
}

.notes-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.notes-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 38.25rem;
  width: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
  color: black;
}

.notes-wrapper {
  background-color: #ffffff;
  width: 70rem;
  height: 38.25rem;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  display: grid;
}

.grid-canvas {
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.notes-holder {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.01);
}

.grid-canvas, .notes-holder {
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.grid-holder {
  height: 100%;
}

.timeline-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.bar-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ledger-line-soft, .ledger-line-hard {
  width: 5.5rem;
  height: 100%;
  box-sizing: border-box;
}

.ledger-line-soft {
  border-right: 0.1rem solid grey;
}

.ledger-line-hard {
  border-right: 0.25rem solid black;
}

.note-seperator {
  width: 100%;
  height: 3.1875rem;
  border-bottom: 0.05rem solid gray;
  box-sizing: border-box;
}

.rect {
  cursor: pointer;
  width: 5.5rem;
  height: 3.1875rem;
  max-height: 15vh;
  max-width: 15vh;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.teal {
  background-color: teal;
}

.brown {
  background-color: brown;
}

.transparent {
  background-color: transparent;
}

.selected {
  border: 0.2rem solid black;
  box-sizing: border-box;
}

.workspace-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: bisque;
  height: 4rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 -0.2rem 1rem rgba(153, 124, 89, 0.908);
  z-index: 3;
}

.workspace-page-button {
  font-size: 1.5rem;
  border: 0.2rem solid black;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.workspace-page-button:active {
  transform: translateY(0.25rem);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}
.workspace-page-button:hover {
  cursor: pointer;
}

.active {
  border: 0.2rem solid black;
  background-color: white;
}

.inactive {
  background-color: rgba(128, 128, 128, 0.376);
  color: rgba(0, 0, 0, 0.405);
  border: 0.2rem solid rgba(0, 0, 0, 0.525);
}

.button-container {
  position: relative;
}

.workspace-button-menu {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  color: black;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}
.workspace-button-menu::before, .workspace-button-menu::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem;
  border-style: solid;
}
.workspace-button-menu::before {
  top: 100%;
  border-color: black transparent transparent transparent;
}
.workspace-button-menu::after {
  top: calc(100% - 1px);
  border-color: whitesmoke transparent transparent transparent;
}
.workspace-button-menu-sub {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.confirm-menu {
  width: 12rem;
}
.confirm-menu .flexcolumn {
  height: 4.5rem;
  justify-content: space-between;
}
.confirm-menu h2 {
  margin: 0;
}
.confirm-menu button {
  min-width: 3rem;
}

#generator {
  height: 7rem;
  width: 23rem;
  padding: 0.75rem 0.75rem;
  flex-direction: row;
}
#generator-buttons {
  justify-content: space-evenly;
  width: 7rem;
}
#generator-inputs {
  justify-content: center;
}

#steps {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.workspace-sub-button {
  font-size: 0.9rem;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.activeclick:active {
  background-color: rgb(105, 204, 131);
}

.inactiveclick:active {
  background-color: rgb(247, 160, 150);
}

#edit {
  width: 9rem;
  align-items: center;
}
#edit label {
  font-weight: bold;
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#edit .flexcolumn {
  justify-content: left;
}
#edit select {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
}
#edit p {
  font-size: 0.9rem;
  color: red;
  cursor: pointer;
}
#edit p:hover {
  text-decoration: underline;
}

#edittoprow {
  width: 10rem;
}

#listenbutton {
  min-width: 8rem;
}/*# sourceMappingURL=App.css.map */