html, body, .App, #root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drop_zone {
  border: 2px solid orange;
  width: 200px;
  height: 100px;
}

.box-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.tester {
  display: flex;
  flex-direction: column-reverse;
}

.box1 {
  border: 1px solid blue;
}

.box2 {
  border: 1px solid red;
}

.box3 {
  border: 1px solid green;
}

.box4 {
  border: 1px solid purple;
}